@{
    ViewData["Title"] = "Home Page";
}

<div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 95px 0px 0px 0px;">
    <div class="gdlr-core-pbf-background-wrap">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-repeat: no-repeat;background-position: center;" data-parallax-speed="0.04"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 25px;" id="gdlr-core-title-item-id-65105">
                    <div class="gdlr-core-title-item-title-wrap ">
                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 44px;font-weight: 600;letter-spacing: 0px;text-transform: none;color: #262626;">Banking Services we provide<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal" style="padding-bottom: 42px;">
                    <div class="gdlr-core-divider-container gdlr-core-center-align" style="max-width: 54px;">
                        <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #254099;border-bottom-width: 4px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 30px 0px;" data-skin="Hp2 Blog">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-column-with-frame gdlr-core-item-pdlr" style="padding-bottom: 60px;">
                    <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type="carousel" data-column="3" data-nav="bullet" data-nav-parent="gdlr-core-blog-item">
                        <ul class="slides">
                            <li class="gdlr-core-item-mglr">
                                <div class="gdlr-core-blog-grid  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb  gdlr-core-outer-frame-element" style="box-shadow: 0 0 30px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 30px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 30px rgba(10, 10, 10,0.07); ">
                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                        <a href="/Account/Withdraw"><img src="~/upload/pexels-photo-529923.jpg" alt="" width="1920" height="1281"></a>
                                    </div>
                                    <div class="gdlr-core-blog-grid-frame gdlr-core-skin-e-background gdlr-core-js" data-sync-height="blog-grid-with-frame">
                                        <div class="gdlr-core-blog-grid-date">
                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="icon_clock_alt"></i></span><a href="#">June 6, 2016</a></span>
                                        </div>
                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 18px;font-weight: 600;letter-spacing: 0px;"><a href="/Account/Withdraw">Widthdraw your money</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div class="gdlr-core-blog-grid  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb  gdlr-core-outer-frame-element" style="box-shadow: 0 0 30px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 30px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 30px rgba(10, 10, 10,0.07); ">
                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                        <a href="/Account/Deposit"><img src="~/upload/pexels-photo-374018.jpg" alt="" width="1920" height="1280"></a>
                                    </div>
                                    <div class="gdlr-core-blog-grid-frame gdlr-core-skin-e-background gdlr-core-js" data-sync-height="blog-grid-with-frame">
                                        <div class="gdlr-core-blog-grid-date">
                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="icon_clock_alt"></i></span><a href="#">June 6, 2016</a></span>
                                        </div>
                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 18px;font-weight: 600;letter-spacing: 0px;"><a href="/Account/Deposit">Deposit your money</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div class="gdlr-core-blog-grid  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb  gdlr-core-outer-frame-element" style="box-shadow: 0 0 30px rgba(10, 10, 10,0.07); -moz-box-shadow: 0 0 30px rgba(10, 10, 10,0.07); -webkit-box-shadow: 0 0 30px rgba(10, 10, 10,0.07); ">
                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                        <a href="/Account/Transfer"><img src="~/upload/pexels-photo.jpg" alt="" style="width: 386px; height:217px;"></a>
                                    </div>
                                    <div class="gdlr-core-blog-grid-frame gdlr-core-skin-e-background gdlr-core-js" data-sync-height="blog-grid-with-frame">
                                        <div class="gdlr-core-blog-grid-date">
                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="icon_clock_alt"></i></span><a href="#">June 6, 2016</a></span>
                                        </div>
                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 18px;font-weight: 600;letter-spacing: 0px;"><a href="/Account/Transfer">Transfer money to another account</a></h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
